#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Convert 200 minutes into hours using Python.
* List popular libraries for Data Science.
* Provide a table of development environment open-source tools.
* Explain how to create bold text in Jupyter Notebook.
* Demonstrate creating ordered and unordered lists in Markdown.

#Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib

| Data Science Tools |
|----------|
| RStudio |
| VS Code |
| Jupyter Notebook |

###Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
hours = 200/60
hours

3.3333333333333335

## Author
Sameera Katabathula